.btn {
  position: relative;
  margin-top: 1%;
  padding: 0.5% 1%;
  overflow: hidden; 
}

.btn_text{
    position: relative;
}

.btn_Skew {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background: #2176ff;
    transform: skew(-15deg);
    transition: all .3s ease;
  }

  .btn:hover .btn_Skew {
    width: calc(100% + 15px);
  }

  