:root{
    --background_dark:#303030;
    --background_ligth:#F0E7DB;
    --btn_dark:#000000;
    --color_dark:var(--background_ligth);
    --color_ligth:var(--background_dark)
}


html, body{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 min-width: 100%;
 min-height: 100vh;
 font-family: "Ubuntu", sans-serif;
}

/* dark */

.dark{
  background:var(--background_dark);
  color: var(--color_dark);
}

.dark a{
  color: var(--color_dark);
  text-decoration: none;
  font-size: 20px;
}

li :hover{
  text-decoration: underline 2px;
}


/* ligth */

.ligth{
  background:var(--background_ligth);
  color: var(--color_ligth);
}

.ligth a{
  color: var(--color_ligth);
  text-decoration: none;
}

a:hover{
  text-decoration: underline 2px;
}


.dark button{
  background: var(--btn_dark);
  color: var(--color_dark);
  border: none;
  border-radius: 10%;
  font-size: 23px;
}

.ligth button{
  color: var(--color_ligth);
}